data/BZ/random_samples/feature/*
data/BZ/random_samples/label/*
data/BZ/tiles/features/*
data/BZ/tiles/labels/*
data/BZ/tiles/merge/*
data/BZ/feature.tif
data/BZ/label.tif

data/BZ/processed/test/features/*
data/BZ/processed/test/labels/*

data/CN/random_samples/features/*
data/CN/random_samples/labels/*
data/CN/tiles/features/*
data/CN/tiles/labels/*
data/CN/tiles/merge/*
data/CN/feature_trimmed.tif
data/CN/label_trimmed.tif

data/CN/tiles/validation/features/*
data/CN/tiles/validation/labels/*

data/CN/processed/train/features/*
data/CN/processed/train/labels/*

data/CN/processed/train/baseline/features/*
data/CN/processed/train/baseline/labels/*

data/CN/processed/train/all/features/*
data/CN/processed/train/all/labels/*

data/CN/processed/train/water_only/labels/*
data/CN/processed/train/water_only/features/*

data/CN/processed/validation/features/*
data/CN/processed/validation/labels/*

data/style/BigEarthNet-S2/*
data/style/ReferenceMaps/*

data/style/images/general/*
data/style/images/water/*

data/style/tiles/general/*
data/style/tiles/water/*

data/style/style.zip
data/CN/processed/validation.zip
data/CN/processed/train/baseline_train.zip
data/CN/processed/train/water_only.zip
data/CN/processed/train/all_train.zip
data/BZ/processed/test.zip
