data/BZ/random_samples/feature/*
data/BZ/random_samples/label/*
data/BZ/tiles/features/*
data/BZ/tiles/labels/*
data/BZ/tiles/merge/*
data/BZ/feature.tif
data/BZ/label.tif

data/CN/random_samples/features/*
data/CN/random_samples/labels/*
data/CN/tiles/features/*
data/CN/tiles/labels/*
data/CN/tiles/merge/*
data/CN/feature_trimmed.tif
data/CN/label_trimmed.tif

data/CN/tiles/validation/features/*
data/CN/tiles/validation/labels/*

data/CN/processed/train/features/*
data/CN/processed/train/labels/*
data/CN/processed/validation/features/*
data/CN/processed/validation/labels/*

data/style/BigEarthNet-S2/*
data/style/ReferenceMaps/*

data/style/images/general/*
data/style/images/water/*

data/style/tiles/general/*
data/style/tiles/water/*